th{
    background-color: #2BA000;
    ;
}
td{
    background-color: #9841E3;
    font-style:inherit;
    border: 0.2px solid #6C08C3

}
tr{
    border: 0.2px solid #6C08C3;
    text-align: center;
}
body{
    background-color: #6C08C3;
}
b{
    color: #000000;
}
h5{
    color: #000000;
}
table{
    width: 85%;
    border-collapse: collapse;
  
}
main{
    display: flex;
    justify-content:center ;
}
header{
    height: 200px;
}
footer{
    height: 200px;
}
h1{
    text-align: center;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
p{
    color: #000000;
}